.content {
  position: relative;
  max-width: 540px;
  padding: 2rem;
  background: hsla(0, 0%, 0%, 0.5);
  backdrop-filter: blur(8px) saturate(150%);
  border: 1px solid #000;
  color: #fff;
  z-index: 1;
}
